In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
shoes = pd.read_csv("new_egg_shoes.csv", encoding='latin-1')
shoes.head()

,Name,Normal_price,Discount_price,Shipping,Data
0,Nike Satire L Black/Black-Anthracite 654431-00...,NaN,$21.50,Free Shipping,2019-12-30 10:50:21.362553
1,Lucky Brand Mens Gaston Leather Plain Toe Boot,$130.00,$89.99,Free Shipping,2019-12-30 10:50:21.362553
2,Adidas ZX Flux W White/White-Gold BY9216 Women...,NaN,$19.74,Free Shipping,2019-12-30 10:50:21.362553
3,Nike Men's Tennis Classic CS Suede Tennis Shoe,NaN,$21.50,Free Shipping,2019-12-30 10:50:21.362553
4,Puma Fat Lace + Steel Grey/Mulberry Purple Me...,NaN,$21.50,Free Shipping,2019-12-30 10:50:21.362553

In [8]:
shoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 5 columns):
Name              1800 non-null object
Normal_price      1045 non-null object
Discount_price    1800 non-null object
Shipping          1800 non-null object
Data              1800 non-null object
dtypes: object(5)
memory usage: 70.4+ KB

# Cleaning process

The shoes dataframe needs to be cleaned before analysis can be done. Some of the actions I am going to take, include;
- I'm going to extract the brand name from the name column and create a new brand column, it is the first word in the shoe name
- I am going to be renaming some columns for better understanding of the data
- Some values are missing in the Old_price column, what this means is that the shoe does not have a discounted
- the values in the price columns have special characters, I'll remove the special characters and make the columns numeric
- the dataset contains the date scraped column, I'll just clean that so that it can make more sense

In [9]:
# new data frame with split value columns 
new = shoes["Name"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
shoes["Brand"]= new[0]
shoes["Brand"]

0              Nike
1             Lucky
2            Adidas
3              Nike
4              Puma
5              Puma
6              Puma
7              Puma
8          Skechers
9               Air
10              Air
11            AdTec
12         CHURCH'S
13         Lonsdale
14           Alpine
15           Alpine
16      AlpineSwiss
17           Alpine
18         Converse
19         Converse
20           Magnum
21              Air
22              men
23              Air
24             Puma
25              New
26              New
27             Puma
28           Adidas
29           Adidas
           ...
1770            Old
1771        Chinese
1772        Chinese
1773            Old
1774            Old
1775        Beijing
1776        Vintage
1777         Summer
1778        Chinese
1779        Beijing
1780        Beijing
1781            Old
1782        Chinese
1783       Cowhells
1784        Chinese
1785            Old
1786          Small
1787          Small
1788         Spring
1789            Old
1790            Old
1791            Old
1792            Old
1793            Old
1794            Old
1795            New
1796        Chinese
1797            Old
1798            Old
1799            Old
Name: Brand, Length: 1800, dtype: object

In [10]:
#column renaming
shoes.rename(columns={'Normal_price':'Old_price($)', 'Discount_price': 'Current_price($)', 'Data' : 'Date_Scraped'}, inplace=True)

In [15]:
#set all the nan values in the old_price column to zero
shoes['Old_price($)'] = shoes['Old_price($)'].fillna(0)

In [12]:
#remove the special characters from the price columns and convert the column to a numeric one
shoes['Old_price($)'] = shoes['Old_price($)'].str.replace('$', '').str.replace('\r', '').str.strip().astype(float)
shoes['Current_price($)'] = shoes['Current_price($)'].str.replace('$', '').str.replace(',', '').str.strip().astype(float)

In [13]:
#clean the date scraped column
new = shoes['Date_Scraped'].str.split(".", n = 1, expand = True)
shoes['Date_Scraped']= new[0]
shoes['Date_Scraped']

0       2019-12-30 10:50:21
1       2019-12-30 10:50:21
2       2019-12-30 10:50:21
3       2019-12-30 10:50:21
4       2019-12-30 10:50:21
5       2019-12-30 10:50:21
6       2019-12-30 10:50:21
7       2019-12-30 10:50:21
8       2019-12-30 10:50:21
9       2019-12-30 10:50:21
10      2019-12-30 10:50:21
11      2019-12-30 10:50:21
12      2019-12-30 10:50:21
13      2019-12-30 10:50:21
14      2019-12-30 10:50:21
15      2019-12-30 10:50:21
16      2019-12-30 10:50:21
17      2019-12-30 10:50:21
18      2019-12-30 10:50:21
19      2019-12-30 10:50:21
20      2019-12-30 10:50:21
21      2019-12-30 10:50:21
22      2019-12-30 10:50:21
23      2019-12-30 10:50:21
24      2019-12-30 10:50:21
25      2019-12-30 10:50:21
26      2019-12-30 10:50:21
27      2019-12-30 10:50:21
28      2019-12-30 10:50:21
29      2019-12-30 10:50:21
               ...
1770    2019-12-30 10:54:17
1771    2019-12-30 10:54:17
1772    2019-12-30 10:54:17
1773    2019-12-30 10:54:17
1774    2019-12-30 10:54:17
1775    2019-12-30 10:54:17
1776    2019-12-30 10:54:17
1777    2019-12-30 10:54:17
1778    2019-12-30 10:54:17
1779    2019-12-30 10:54:17
1780    2019-12-30 10:54:17
1781    2019-12-30 10:54:17
1782    2019-12-30 10:54:17
1783    2019-12-30 10:54:17
1784    2019-12-30 10:54:17
1785    2019-12-30 10:54:17
1786    2019-12-30 10:54:17
1787    2019-12-30 10:54:17
1788    2019-12-30 10:54:17
1789    2019-12-30 10:54:17
1790    2019-12-30 10:54:17
1791    2019-12-30 10:54:17
1792    2019-12-30 10:54:17
1793    2019-12-30 10:54:17
1794    2019-12-30 10:54:17
1795    2019-12-30 10:54:17
1796    2019-12-30 10:54:17
1797    2019-12-30 10:54:17
1798    2019-12-30 10:54:17
1799    2019-12-30 10:54:17
Name: Date_Scraped, Length: 1800, dtype: object

In [16]:
shoes.head()

,Name,Old_price($),Current_price($),Shipping,Date_Scraped,Brand
0,Nike Satire L Black/Black-Anthracite 654431-00...,0.0,21.50,Free Shipping,2019-12-30 10:50:21,Nike
1,Lucky Brand Mens Gaston Leather Plain Toe Boot,130.0,89.99,Free Shipping,2019-12-30 10:50:21,Lucky
2,Adidas ZX Flux W White/White-Gold BY9216 Women...,0.0,19.74,Free Shipping,2019-12-30 10:50:21,Adidas
3,Nike Men's Tennis Classic CS Suede Tennis Shoe,0.0,21.50,Free Shipping,2019-12-30 10:50:21,Nike
4,Puma Fat Lace + Steel Grey/Mulberry Purple Me...,0.0,21.50,Free Shipping,2019-12-30 10:50:21,Puma

In [19]:
shoes.to_csv(r"C:\Users\Babatolatemi\Desktop\Jupyter\new_egg\new_egg_shoes_cleaned.csv")